@import "../../../assets/styles/common.scss";
.products {
  padding: 100px 0;
  .card {
    padding: 0px;
  }
  .complete,
  .incomplete {
    display: inline-block;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
  }
  .complete {
    @include complete;
  }
  .incomplete {
    background-color: #ff000045;
    @include incomplete;
  }
}
