<app-title-of-com [titleOfComponent]="'product'"></app-title-of-com>
<section class="products">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div
        class="card m-2 shadow"
        style="width: 18rem"
        *ngFor="let todo of todos"
      >
        <img
          [src]="
            todo.completed
              ? '../../../assets/images/complate.png'
              : '../../../assets/images/not-complate.jpg'
          "
          class="card-img-top"
        />
        <div class="card-body">
          <h5
            class="card-title"
            [ngClass]="todo.completed ? 'complete' : 'incomplete'"
          >
            {{ todo.completed ? "complete" : "incomplete" }}
          </h5>

          <p class="card-text">
            {{ todo.title }}
          </p>
          <a class="btn btn-primary" (click)="viewMore(todo.id)">View More</a>
        </div>
      </div>
    </div>
  </div>
</section>
