<app-title-of-com [titleOfComponent]="'about'"></app-title-of-com>
<section class="about">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="left-said col-lg-6">
        <img src="../../../assets/images/about.jpg" />
      </div>
      <div class="right-said col-lg-6">
        <h3>Lorem <span>ipsum</span> dolor sit amet.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quidem
          magnam quasi modi veniam culpa quaerat voluptas assumenda doloremque,
          tempora neque. Laborum aliquid nam non quo veniam? Voluptatum, quas
          sapiente!
        </p>
      </div>
    </div>
  </div>
</section>
