<app-title-of-com [titleOfComponent]="'team'"></app-title-of-com>
<section class="team">
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        data-bs-interval="2000"
        class="carousel-item"
        [ngClass]="i == 0 ? 'active' : ''"
        *ngFor="let slide of carouselData; index as i"
      >
        <div class="carousel-caption d-none d-md-block">
          <img [src]="slide.img" />
          <h5>{{ slide.title }}</h5>
          <p>{{ slide.desc }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
